In [15]:
# Reading the input


name = ['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay']
# Storing the responses in a variable 'repsonse'
response = ['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']

# Importing pandas and converting the read lists to a dataframe. You can print
# the dataframe and run the code to see what it will look like
import pandas as pd 
df = pd.DataFrame({'Name': name,'Response': response})

# Write your code here.
varlist=['Response']
df['Response1']=df['Response'].str.lower()
df['Response']=df['Response1']
df=df.drop('Response1', axis = 1)
df[varlist]=df[varlist].apply(lambda x:x.map({'no':0.0,'yes':1.0,'maybe':0.5}))
# Print the final DataFrame
print(df)

       Name  Response
0   Reetesh       0.0
1    Shruti       0.5
2  Kaustubh       1.0
3     Vikas       1.0
4    Mahima       0.5
5    Akshay       1.0

In [16]:
df['BG']=['A','B','AB','O','A','O']
df.head()

       Name  Response  BG
0   Reetesh       0.0   A
1    Shruti       0.5   B
2  Kaustubh       1.0  AB
3     Vikas       1.0   O
4    Mahima       0.5   A

In [17]:
bg=pd.get_dummies(df['BG'])
bg

   A  AB  B  O
0  1   0  0  0
1  0   0  1  0
2  0   1  0  0
3  0   0  0  1
4  1   0  0  0
5  0   0  0  1

In [12]:
input_list=[1,1,2,3,4,5,6]
prev=0
cnt=0
out=''
for i in input_list:
    if (i > prev and cnt < len(input_list)) :
        prev=i
        cnt+=1
        out='yes'
    #elif ( (cnt == (len(input_list)-1)) and i >= prev):
    #    out='yes'
    elif(i<=prev or i==prev ):
        out='no'
        break
print(out)

no

In [14]:
n=1234567
tot=0
while(n>0):
    dig=n%10
    tot=tot+dig
    n=n//10
if(tot%2==0):
    print('even')
else:
    print('odd')

even

In [22]:
from collections import Counter
votes=["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha",'pasta']
tot=len(votes)
vote_tally=Counter(votes)
food=''
for key in vote_tally:
    if( vote_tally[key] >= ((tot//2)+1)):
        food=key
        break
    else:
        food='NOTA'
print(food)

pasta

In [24]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")
df['bmi']=round(df['bmi'],1)

   age     sex   bmi  children smoker     region      charges
0   19  female  27.9         0    yes  southwest  16884.92400
1   18    male  33.8         1     no  southeast   1725.55230
2   28    male  33.0         3     no  southeast   4449.46200
3   33    male  22.7         0     no  northwest  21984.47061
4   32    male  28.9         0     no  northwest   3866.85520

In [30]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
def bmi_map(x):
    if (x <18.5):
        return 'Underweight'
    elif (x >=18.5 and x <= 24.9):
        return 'Normal' 
    elif (x >=25 and x <= 29.9):
        return 'Overweight'
    elif (x >=30):
        return 'Obese'
    

# Underweight: BMI is less than 18.5.
# Normal: BMI is 18.5 to 24.9.
# Overweight: BMI is 25 to 29.9.
# Obese: BMI is 30 or more.

df['BMI_group']=df['bmi'].apply(bmi_map)
df.head(5)

   age     sex   bmi  children smoker     region      charges   BMI_group
0   19  female  27.9         0    yes  southwest  16884.92400  Overweight
1   18    male  33.8         1     no  southeast   1725.55230       Obese
2   28    male  33.0         3     no  southeast   4449.46200       Obese
3   33    male  22.7         0     no  northwest  21984.47061      Normal
4   32    male  28.9         0     no  northwest   3866.85520  Overweight

In [53]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns', 500)
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/831JKKEkW7kqd5M4evNva9LyB/insurance_grouped.csv")
def bmi_map(x):
    if (x <18.5):
        return 'Underweight'
    elif (x >=18.5 and x <= 25):
        return 'Normal' 
    elif (x >=25 and x < 30):
        return 'Overweight'
    elif (x >=30):
        return 'Obese'
df['BMI_group']=df['bmi'].apply(bmi_map)
df_col=[ 'sex', 'BMI_group', 'smoker' , 'region']
le = preprocessing.LabelEncoder()
#df1.info()
df[df_col] = df[df_col].apply(le.fit_transform)
#df.head(5)
#df1 = df1.apply(le.fit_transform)
cor_list=['bmi','age','charges']
for i in cor_list:
    print(df['smoker'].corr(df[i]).round(4))

0.0038
-0.025
0.7873

In [61]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import statsmodels
import statsmodels.api as sm

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/72Boxj99702g8BwK5powGz1g0/insurance_training.csv")


# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/gxVjwe1k3YEogYK23O8PPnXod/insurance_test.csv")
#print(test.head(5))
X_train = train['smoker']
y_train = train['charges']


X_train_sm = sm.add_constant(X_train)
lr = sm.OLS(y_train, X_train_sm).fit()

X_test = test['smoker']
#y_test = test['charges']
# Add a constant to X_test
X_test_sm = sm.add_constant(X_test)
y_test_pred = lr.predict(X_test_sm)
test['charges_predictions']=y_pred

0       8578.322548
1       8578.322548
2      31767.008419
3       8578.322548
4      31767.008419
           ...
263    31767.008419
264     8578.322548
265     8578.322548
266    31767.008419
267     8578.322548
Length: 268, dtype: float64

In [106]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import statsmodels
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import MinMaxScaler

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/QNdMORzykKkG4L3WQ17Xx53o3/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/Mq5p8YpQoz3KbWJRE4Mey1Yoq/insurance_test.csv")
train=train.drop('Unnamed: 0',1)
scaler = MinMaxScaler()
train_col=['charges','age', 'bmi']
new_train=train

new_train[train_col] = scaler.fit_transform(new_train[train_col])
# print(new_train.head())
#new_train=new_train.drop('BMI_group',1)
#new_train=new_train.drop('region',1)
#new_train=new_train.drop('sex',1)
#new_train=new_train.drop('bmi',1)
#new_train=new_train.drop('age',1)
#new_train=new_train.drop('children',1)
# new_train=new_train.drop('charges',1)
X_train = new_train
y_train = new_train.pop('smoker')


X_train_sm = sm.add_constant(X_train)
lr = sm.OLS(y_train, X_train_sm).fit()
print(lr.summary())


vif = pd.DataFrame()
vif['Features'] = X_train.columns
vif['VIF'] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

                            OLS Regression Results
==============================================================================
Dep. Variable:                 smoker   R-squared:                       0.711
Model:                            OLS   Adj. R-squared:                  0.709
Method:                 Least Squares   F-statistic:                     373.2
Date:                Fri, 20 Dec 2019   Prob (F-statistic):          4.73e-281
Time:                        22:05:32   Log-Likelihood:                 115.22
No. Observations:                1070   AIC:                            -214.4
Df Residuals:                    1062   BIC:                            -174.6
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1377      0.029      4.748      0.000       0.081       0.195
age           -0.3749      0.023    -16.438      0.000      -0.420      -0.330
sex            0.0169      0.013      1.266      0.206      -0.009       0.043
bmi           -0.3737      0.043     -8.765      0.000      -0.457      -0.290
children      -0.0112      0.006     -2.030      0.043      -0.022      -0.000
region         0.0072      0.006      1.192      0.234      -0.005       0.019
BMI_group      0.0071      0.009      0.767      0.443      -0.011       0.025
charges        1.8431      0.036     50.792      0.000       1.772       1.914
==============================================================================
Omnibus:                       83.955   Durbin-Watson:                   2.106
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              368.212
Skew:                           0.205   Prob(JB):                     1.11e-80
Kurtosis:                       5.844   Cond. No.                         22.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

    Features   VIF
2        bmi  6.09
5  BMI_group  5.68
0        age  3.40
4     region  2.76
6    charges  2.29
1        sex  1.96
3   children  1.78

In [108]:
import numpy as np
import pandas as pd

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/QNdMORzykKkG4L3WQ17Xx53o3/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/Mq5p8YpQoz3KbWJRE4Mey1Yoq/insurance_test.csv")

# Linear regression
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train.drop(["region","charges"],axis=1),train['charges'])
y_test_predicted=lr.predict(test.drop("region",axis=1))

# Write the output
#Do not edit the last two lines here
#reload test set before this step if you have made any changes to the test set 
#test["predicted_charges"]=y_test_predicted
#test.to_csv("/code/output/predictions.csv")